/* styles */

.container {
	display: flex;
	justify-content: center;
}

.subcontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	width: 400px;
	height: 500px;
	box-shadow: 0 0px 30px #e1edf8;
}

.email,
.password {
	display: flex;
	flex-direction: column;
	width: 300px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 20px;
}

.label {
	padding-bottom: 5px;
	font-weight: 500;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 19px;
	padding: 10px;
	background: rgba(225, 237, 248, 0.6);
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 14px;
}

.signup button {
	outline: none;
	border: none;
	font-weight: 500;
	font-family: 'Raleway', sans-serif;
	width: 300px;
	padding: 11px 0;
	cursor: pointer;
	color: #ffffff;
	border-radius: 3px;
	background: radial-gradient(
		ellipse at left bottom,
		rgba(22, 24, 47, 1) 0%,
		rgba(38, 20, 72, 0.9) 59%,
		rgba(17, 27, 75, 0.9) 100%
	);
	box-shadow: 0 5px 10px  rgba(17, 27, 75, 0.9);
	transition: 0.5s all;
}

.signup button:hover {
	box-shadow: 0 0px 10px  rgba(17, 27, 75, 0.9);
}

.msg {
	width: 300px;
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
}

.msg p span {
	color: rgba(38, 20, 72, 0.9);
	text-decoration: underline;
	cursor: pointer;
}

.err {
	color: red;
}
