/* styles */

.container {
	display: flex;
	height: 85vh;
}

.subcontainer_1 {
	border: solid 1px #e1edf8;
	flex: 0.7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subcontainer_2 {
	border: solid 1px #e1edf8;
	flex: 2.3;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.btn button {
	outline: none;
	border: solid 3px #e1edf8;
	background-color: #ffffff;
	color: #5a5a5a;
	font-size: 1.2rem;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	width: 200px;
	padding: 11px 20px;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 0 5px 10px #e1edf8;
	transition: all 0.5s;
}

.btn button:hover {
	box-shadow: 0 0px 10px #e1edf8;
}

.job_listing {
	margin-left: 60px;
	margin-top: 10px;
	width: 1000px;
	overflow: scroll;
}

.job_listing:nth-child(1) {
	margin-top: 60px;
}

.job_listing:last-child {
	margin-bottom: 60px;
}

.job_list {
	display: flex;
}

.image {
	display: flex;
	align-items: center;
	margin-left: 30px;
}


.image img {
	width: 32px;
	height: 32px;
}

.notice {
	color: #5a5a5a;
}
