/* styles */

.field_container {
	display: flex;
	flex-direction: column;
}

.field_container p {
	margin: 30px 0 15px 40px;
	color: #5a5a5a;
	font-weight: 700;
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.field_container hr {
	width: 600px;
	border-width: 0;
	height: 1px;
	background-color: #b9b9b9;
	margin-top: 20px;
}

.btn {
	margin: 20px 0 43px 0;
}
