/* styles */

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.sub_container {
	width: 700px;
}

.tagline {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tagline h2 {
	font-size: 2rem;
	font-weight: 900;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
	background-color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
		180deg,
		rgba(38, 20, 72, 0.9),
		rgba(66, 34, 126, 0.8)
	);
}

.tagline h3 {
	font-family: 'Raleway', sans-serif;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(
		180deg,
		rgba(38, 20, 72, 0.9),
		rgba(66, 34, 126, 0.9)
	);
}

.form {
	margin: 40px 0;
	border: solid 1px #e1edf8;
	height: 100%;
}

.form_section_btns {
	display: flex;
}

.form_section_btns h3 {
	color: #5a5a5a;
}

.create_job,
.preview {
	flex: 1;
	display: flex;
	justify-content: center;
	border-bottom: solid 1px #e1edf8;
	cursor: pointer;
}

.border {
	border-bottom: solid 4px rgba(66, 34, 126, 0.9);
}
