/* styles */

.container {
	display: flex;
	flex-direction: column;
	width: 300px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 20px;
}

.width {
	width: 500px;
}

.top_margin {
	margin-top: 30px;
}

.medium_margin {
	margin-top: 10px;
}

.label {
	padding-bottom: 5px;
	font-weight: 500;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 19px;
	padding: 10px;
	background: rgba(225, 237, 248, 0.6);
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 14px;
}

.container textarea {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.err {
	padding: 0;
	margin: 2px 0;
	font-size: 14px;
	font-weight: 500;
	color: red;
}
