
.container {
	margin-top: 0.7rem;
	height: 110px;
	border: solid 1px #dddddd;
	border-top: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.container:nth-child(1) {
	margin-top: 0;
	border: solid 1px #dddddd;
}

.container:last-child {
	border: solid 1px #dddddd;
}

.initial {
	width: 80px;
	height: 80px;
	margin-left: 20px;
	box-shadow: 0 0 20px #e1edf8;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	background-color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #4ea7f0, #0764af);
}

.job_info {
	margin-left: 10px;
}

.title_wrapper {
	display: flex;
	justify-content: space-between;
	width: 700px;
	margin: 0;
	height: 30px;
}

.title {
	font-size: 18px;
	font-weight: 600;
	color: #5a5a5a;
	margin: 0 0 5px 0;

}

.date {
	font-size: 16px;
	font-weight: 300;
	color: #5a5a5a;
	margin: 0;
}

.company {
	margin: 0;
	font-size: 14px;
	font-weight: 200;
	margin: 0 0 10px 0;

}

.location {
	margin: 0;
	font-size: 14px;
	font-weight: 200;
}
